.tree-folder {
  margin: 0px 40px;
}
.tree-folder > ul > li::before,
.tree-folder > ul > li::after {
  border: 0;
}
.tree-folder li:last-child::before {
  height: 27px;
}
/* .tree-folder li:hover {
  background: transparent;
  border: 2px solid #0071c5;
} */

[aria-expanded='false'] > .expanded,
[aria-expanded='true'] > .collapsed {
  display: none;
}

.tree-folder li {
  min-width: 200px;
  font-size: 30px;
  font-weight: 500;
  list-style-type: none;
  margin: 0;
  padding: 10px 5px 0 5px;
  position: relative;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: '\25B6';
  color: black;
  display: inline-block;
  margin-right: 6px;
  transition-property: width;
  transition-duration: 2s;
  /* transition-timing-function: linear; */
  transition-delay: 1s;
  transition: width 2s;
  transition-timing-function: ease-in-out;
}
.folder-icon::before {
  content: '\1F4C1';
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.file-icon::before {
  content: '\1F5CE';
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}
